<!DOCTYPE html>

<html lang="fr">

<head>
    <title>Admin LDT</title>

    {% block stylesheets %}{% endblock %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
    {% block javascripts %}
    {% endblock %}
</head>
<body style="  overflow-x: hidden;">
{% block body %}
{% endblock %}

</body>

</html>
